<%- include("partials/header") %>
    <div class="container">
        <h1 class = "text-center pt-5">Assign new crew</h1>
        <div class="container">
            <form action="/crew" method="post" class = "w-50 mx-auto pt-5">
                    
                    <div class="form-group">
                        <label for="employee" id = "employee-label" class = 'text-muted'>Select Airline Employee</label>
                        <select id = "employee" class = "form-control" type="text" name = "employee" placeholder="Registered Employee">
                            <% for(var i=0; i<employees.length; i++) { %>
                                <option value="<%= employees[i].e_id %>"><%= employees[i].e_name%></option>
                            <% } %>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="flight" id = "flight-label" class = 'text-muted'>Select Flight</label>
                        <select id = "flight" class = "form-control" type="text" name = "flight" placeholder="Select Flight">
                            <% for(var i=0; i<flights.length; i++) { %>
                                <option value="<%= flights[i].f_id %>"><%= flights[i].origin%> -> <%= flights[i].destination%> (<%= flights[i].a_name%>) </option>
                            <% } %>
                        </select>
                    </div>

                    <div class="form-group d-flex flex-row justify-content-center mt-5">
                        <input type = "submit" class = "btn btn-primary btn-lg" value = "Submit">
                    </div>

            </form>
        </div>
    </div>
<%- include("partials/footer") %>