<%- include("partials/header") %>
    <h1 class = "text-center pt-5">Airport Employee Data</h1>

    <table class="table">
        <thead class="thead-dark">
            <th scope='col'>Employee ID</th>
            <th scope='col'>Name</th>
            <th scope='col'>Department</th>
        </thead>

        <% airportEmployees.forEach(empl => { %>
            <tr>
                <td><%= empl.e_id %></td>
                <td><%= empl.e_name %></td>
                <td><%= empl.d_name %></td>
            </tr>
        <% }) %>
    </table>

    <h1 class = "text-center pt-5">Airline Employee Data</h1>

    <table class="table">
        <thead class="thead-dark">
            <th scope='col'>Employee ID</th>
            <th scope='col'>Name</th>
            <th scope='col'>Airline</th>
            <th scope='col'>Airline Department</th>
        </thead>

        <% airlineEmployees.forEach(empl => { %>
            <tr>
                <td><%= empl.e_id %></td>
                <td><%= empl.e_name %></td>
                <td><%= empl.a_name %></td>
                <td><%= empl.d_name %></td>
            </tr>
        <% }) %>
    </table>
<%- include("partials/footer") %>